@model InternetShop.Models.Product

<div class="form-group">
  <label asp-for="CategoryId" class="control-label"></label>
  <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
  <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Name" class="control-label"></label>
  <input asp-for="Name" class="form-control" />
  <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Description" class="control-label"></label>
  <input asp-for="Description" class="form-control" />
  <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Price" class="control-label"></label>
  <input asp-for="Price" class="form-control" />
  <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="OnSale" class="control-label"></label>
  <input asp-for="OnSale" />
  <span asp-validation-for="OnSale" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="SalePrice" class="control-label"></label>
  <input asp-for="SalePrice" class="form-control" />
  <span asp-validation-for="SalePrice" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Quantity" class="control-label"></label>
  <input asp-for="Quantity" class="form-control" />
  <span asp-validation-for="Quantity" class="text-danger"></span>
</div>
