@model IEnumerable<InternetShop.Models.Product>

<table class="table">
  <thead>
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.Category.Name)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Description)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Price)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.SalePrice)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Quantity)
          </th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Category.Name)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Description)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Price)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.SalePrice) (@item.SalePercentage%)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.Quantity)
          </td>
          <td>
              <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
              <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
              <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </td>
      </tr>
    }
  </tbody>
</table>
